%tr{id: candidate.id}
  %td= candidate.name
  %td= link_to 'Download', candidate.cv_link
  %td= candidate.owner.name
  %td 
    = link_to 'Details', candidate_path(candidate), remote: true
    \/ 
    = link_to 'Edit', edit_candidate_path(candidate)
